.Rproj.user
.Rhistory
.RData
.Ruserdata
GDCdata/*
TCGA_AML_counts.rds
gene_lengths_HTSeq_gencodev22.rds

*.rda
*.txt
*.html
*.Rproj
*.xml
*.tex
*.bbl
*.blg
*.pdf

gencode.v22.annotation.gtf.gz
workflow_transcriptional_mut_sig_cache/*
workflow_transcriptional_mut_sig_files/*
PSets/*
PatientMutations.tsv
